<hr>
<div class="row">
  <div class="col-md-3">
    <form>
      <div>
         <label for="">產品名稱</label>
         <input class="form-control" type="text">
      </div>
      <div>
         <label for="">產品價格</label>
         <input class="form-control" type="text">
      </div>
      <div>
        <label for="">購買數量</label>
        <input class="form-control" type="text">
      </div>
      <p>show details</p>
      <button class="btn btn-success" type="submit">加入購物車</button>
    </form>
  </div>
</div>
